# Server Configuration
PORT=3001
BASE_URL=http://localhost:3001

# MongoDB Connection String
# 1. For Local MongoDB:
# MONGODB_URI=mongodb://127.0.0.1:27017/url_shortener
#
# 2. For MongoDB Atlas (Cloud):
# Replace <username>, <password>, and <cluster-url> with your MongoDB Atlas details:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/url_shortener?retryWrites=true&w=majority
MONGODB_URI=mongodb://127.0.0.1:27017/url_shortener
